h1 {
  font-family: $font-family;
  font-size: 20em;
  font-weight: 600 !important;
}

.navbar {
  background: #0f4583 url(../images/fwc_darkbluebg.png) repeat !important;
  img {
    width: 105px;
  }
}


